.home-nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
}

.home-nav-link-open{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    display: none;
}
