.home-nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    /*border: 2px solid #CEB180;
    border-radius: 25px 25px 25px 25px;*/
}

.home-nav-link-open{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    display: none;
}
