
.home-nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    /*border: 2px solid #CEB180;
    border-radius: 25px 25px 25px 25px;*/
}

.home-nav-link-open{
    text-decoration: none;
    color: black;
    /*font-size: 1.5rem;*/
    padding: 1rem;
    margin-bottom: 1rem;
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.h-hide-and-show{
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-home-nav{
    color: black;
}
