@font-face {
    font-family: 'creato';
    src: url(../../../../assets/CreatoDisplay-Bold.woff2) format('woff2');
  }

* {
    font-family: 'creato';
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1rem;
}

.m-title{
    margin: 0;
    padding: 5rem;
}

.m-subsubtitle{
    padding: 1rem;
    width: 70%;
    background-image: url('../../../../assets/m-title.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.land-ack{
    padding: 15rem;
    text-align: center;
    /*background-image: url('../../../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;*/
}

.activity{
    padding: 20rem;
    text-align: center;
    /*background-image: url('../../../assets/activity-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;*/
}