@font-face {
    font-family: 'creato';
    src: url(../../../../assets/CreatoDisplay-Bold.woff2) format('woff2');
  }

* {
    font-family: 'creato';
}

.activity{
    padding: 20rem;
    text-align: center;
    /*background-image: url('../../../assets/activity-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;*/
}

a{
    text-decoration: none;
    color:rgb(178, 116, 0);
}

p a:hover{
    color: #018fb2;
}

p b{
    color: #018fb2;
}

p{
    text-align: justify;
}

/*.m-p{
    text-align: justify;
}*/

.m-list{
    padding: 2rem;
    border: 2px solid #ede2ce;
    border-radius: 25px 25px 25px 25px;
}

table{
    padding: 2rem;
    /*background-color: #d8edf2;*/
    border-collapse: collapse;
    border-radius: 25px 25px 25px 25px;
}

table tr th{
    padding: 1rem;
    border: 1px solid #018fb2;
}

table tr td{
    padding: 2rem;
    border: 1px solid #018fb2;
}