
.m-page{
    padding-top:7rem;
    height: 100%;
    width:100%;
    
    /*display: flex;
    align-items: flex-start;
    justify-content: center;*/
}

.nav-elements{
    overflow-y: hidden;
}

.m-nav{
    padding: 0;
    position: fixed;
    left:0;
    width: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    background-color: white;
    border: 2px solid #CEB180;
    border-radius: 0 25px 25px 0;
    overflow-y: hidden;
    z-index: 3;
}

.m-nav ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

.m-nav ul li{
    display: flex;
    flex-wrap: nowrap;
}

.m-nav ul li .topic-link{
    padding: 1rem;
    text-decoration: none;
    color: black;
    width: 100%;
}

.m-nav ul li .topic-link.active{
    padding: 1rem;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

.m-content{
    height:100vh;
    width: 80%;
    position: fixed;
    right: 0;
    overflow-y:scroll;
}

/*h2{
    font-size: 3rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1rem;
}

.topic-1{
    padding: 2rem;

    margin: 2rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
}

.topic-2{
    height: 80vh;
    padding: 2rem;

    margin: 2rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
}

.topic-3{
    padding: 2rem;

    margin: 2rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
    
}

.topic-4{
    height: 80vh;
    padding: 2rem;

    margin: 2rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
    
}

.topic-5{
    padding: 2rem;

    margin: 2rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
    
}

.topic-6{
    padding: 2rem;

    margin: 2rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
    
}

.duty-to-report{
    padding: 2rem;
    
}

.topic-7{
    padding: 2rem;

    margin: 2rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
    
}

.topic-8{
    padding: 2rem;

    margin: 2rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
    
}

.topic-9{
    padding: 2rem;

    margin: 2rem;
    margin-bottom: 10rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #CEB180;
    
}

.m-title{
    margin: 0;
    padding: 5rem;
}

.m-titlepage{
    height: 100vh;
    margin: 2rem;
    border-radius: 25px;
}

.m-subtitle{
    margin: 0;
    padding: 5rem;
}

.m-subsubtitle{
    padding: 1rem;
    width: 70%;
    background-image: url('../../../assets/m-title.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.land-ack{
    padding: 15rem;
    text-align: center;
}

.activity{
    padding: 20rem;
    text-align: center;
    
}*/

.hide-and-show{
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: flex-end;
}

.hide-link {
    display: auto;
    padding: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 25px;
}

.show-link {
    display: none;
    padding: 1rem;
    position: fixed;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 0 25px 25px 0;
    /*border: 2px solid #CEB180;*/
}
