h1{
    font-size: 10rem;
}

.ab-text{
    width: 50%;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.ab-title{
    height: 100vh;
    
}

.about{
    padding: 7rem;
    height: 100vh;
    background-color: white;
    z-index: -2;
}

.ack{
    padding: 7rem;
    height: 100vh;
    background-image: url('../../assets/pastel-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.authors{
    padding: 7rem;
    height: 70vh;
    background-image: url('../../assets/pastel2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}