h1{
    font-size: 10rem;
}

p{
    width: 50%;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.title{
    padding: 7rem;
    height: 100vh;
}

.about{
    padding: 7rem;
    height: 100vh;
    background-image: url('../../assets/pastel-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ack{
    padding: 7rem;
    height: 100vh;
    background-image: url('../../assets/prple-orng-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}